<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Title</title>
</head>
<body>


	<div>
		<b>Hello > <!-- <output th:text="${username}"></output> --> welcome
		</b>
	</div>

<!-- 	<form action="#" method="post">

	</form> -->
	<h1>Product list</h1>

		<table>
			<tr>
				<th>NAME</th>
				<th>PRICE</th>
				<th>IN STOCK</th>
			</tr>
			<tr th:each="prod : ${prods}">
				<td th:text="${prod.name}">Onions</td>
				<td th:text="${prod.price}">2.41</td>
				<td th:text="${prod.available}">yes</td>
			</tr>
		</table>
</body>
</html>